<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<th>Role</th>
<th>Email</th>
<th colspan="3"></th>
<td><%= user.role.name %></td>
<td><%= user.email %></td>
<td><%= link_to 'Show', user %></td>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
